<div class="glide__slide">
    <div class="no-scrollbar mx-auto h-full max-w-xl overflow-y-auto overflow-x-hidden">
        <div class="flex h-full w-full flex-col items-center justify-center p-5">
            <div class="flex h-full flex-col items-center justify-center">
                <div class="animate__animated animate__fadeInLeft animate__slower mb-6 text-center">
                    <div class="mb-2 font-fontSecondary text-3xl text-colorMain">Akad Nikah</div>
                    <div>{{date.contract}} - Pukul {{date.contractTime}} WIB s/d Selesai</div>
                    <div>{{location.contract}}</div>
                </div>
                <div class="animate__animated animate__fadeInRight animate__slower mb-8 text-center">
                    <div class="mb-2 font-fontSecondary text-3xl text-colorMain">Resepsi</div>
                    <div>{{date.reception}} - Pukul {{date.receptionTime}} WIB s/d Selesai</div>
                    <div>{{location.reception}}</div>
                </div>
                <div class="animate__animated animate__fadeInUp animate__slower countdown_wrapper flex w-full flex-col" data-datetime="{{date.receptionToDate}}">
                    <div class="countdown flex gap-2 text-center">
                        <div class="countdown-item day w-full rounded-lg border border-colorMain p-1 text-colorMain">
                            <div class="number text-2xl font-bold">00</div>
                            <div class="text">Hari</div>
                        </div>
                        <div class="countdown-item hour w-full rounded-lg border border-colorMain p-1 text-colorMain">
                            <div class="number text-2xl font-bold">00</div>
                            <div class="text">Jam</div>
                        </div>
                        <div class="countdown-item minute w-full rounded-lg border border-colorMain p-1 text-colorMain">
                            <div class="number text-2xl font-bold">00</div>
                            <div class="text">Menit</div>
                        </div>
                        <div class="countdown-item second w-full rounded-lg border border-colorMain p-1 text-colorMain">
                            <div class="number text-2xl font-bold">00</div>
                            <div class="text">Detik</div>
                        </div>
                    </div>
                </div>

                <a href="https://calendar.google.com/calendar/event?action=TEMPLATE&amp;dates={{date.receptionToDate1}}00ID/{{date.receptionToDate1}}00ID&amp;text=Pernikahan {{name.male}} dan {{name.female}}&amp;details=Pernikahan {{name.male}} dan {{name.female}}&amp;location={{location.reception}}&amp;recur=RRULE:FREQ%3DWEEKLY;INTERVAL%3D3" target="_blank" class="animate__animated animate__fadeInUp animate__slower mt-5 rounded-full bg-colorMain py-2 px-4 text-white transition-shadow hover:shadow-lg" rel="nofollow noopener noreferer">Tambahkan Pengingat di Kalender</a>
            </div>
        </div>
    </div>

    <div class="pointer-events-none absolute top-0 left-0 right-0 bottom-0 -z-10">
        <span class="animate__animated animate__fadeInDown animate__slow absolute bottom-0 left-0 h-full w-full bg-imageOrnamentAltTop bg-contain bg-top bg-no-repeat sm:invisible"></span>
        <span class="animate__animated animate__fadeInUp animate__slow absolute bottom-0 left-0 h-full w-full bg-imageOrnamentAltBottom bg-contain bg-bottom bg-no-repeat sm:invisible"></span>
        <span class="animate__animated animate__fadeInTopLeft animate__slower absolute top-0 left-0 h-full w-1/2 bg-imageOrnamentTop bg-contain bg-left-top bg-no-repeat sm:w-[20%]"></span>
        <span class="animate__animated animate__fadeInBottomRight animate__slower absolute bottom-0 right-0 h-full w-1/2 bg-imageOrnamentBottom bg-contain bg-right-bottom bg-no-repeat sm:w-[20%]"></span>
    </div>
</div>
