<div class="glide__slide layout_date text-center">
    <div class="mx-auto h-full max-w-xl">
        <div class="no-scrollbar flex h-full w-full flex-col items-center overflow-y-auto overflow-x-hidden p-5 before:m-auto before:content-[''] after:m-auto after:content-['']">
            <div class="animate_animated animate_fadeInLeft animate_slower mb-6 text-center">
                <div class="mb-2 font-fontSecondary text-3xl text-colorMain">Akad Nikah</div>
                <div>{{contractDate}} - Pukul {{contractTime}} s/d Selesai.</div>
                <div>{{contractLocation}}.</div>
            </div>
            <div class="animate_animated animate_fadeInRight animate_slower mb-8 text-center">
                <div class="mb-2 font-fontSecondary text-3xl text-colorMain">Resepsi</div>
                <div>{{receptionDate}} - Pukul {{receptionTime}} s/d Selesai.</div>
                <div>{{receptionLocation}}.</div>
            </div>
            <div id="countdown_wrapper" class="countdown_wrapper flex w-full flex-col" data-datetime="{{receptionDateFormat1}}">
                <div class="countdown flex gap-2 text-center">
                    <div class="animate_animated animate_fadeInUp animate_slower countdown-item day w-full rounded-lg border border-colorMain p-1 text-colorMain">
                        <div class="number text-2xl font-bold">00</div>
                        <div class="text">Hari</div>
                    </div>
                    <div class="animate_animated animate_fadeInUp animate_slower countdown-item hour w-full rounded-lg border border-colorMain p-1 text-colorMain [animation-delay:calc(var(--animate-duration)*.25)]">
                        <div class="number text-2xl font-bold">00</div>
                        <div class="text">Jam</div>
                    </div>
                    <div class="animate_animated animate_fadeInUp animate_slower countdown-item minute w-full rounded-lg border border-colorMain p-1 text-colorMain [animation-delay:calc(var(--animate-duration)*.5)]">
                        <div class="number text-2xl font-bold">00</div>
                        <div class="text">Menit</div>
                    </div>
                    <div class="animate_animated animate_fadeInUp animate_slower countdown-item second w-full rounded-lg border border-colorMain p-1 text-colorMain [animation-delay:calc(var(--animate-duration)*.75)]">
                        <div class="number text-2xl font-bold">00</div>
                        <div class="text">Detik</div>
                    </div>
                </div>
            </div>

            <a href="https://calendar.google.com/calendar/event?action=TEMPLATE&amp;dates={{receptionDateFormat2}}00ID/{{receptionDateFormat2}}00ID&amp;text=Pernikahan {{nameFemaleShort}} dan {{nameMaleShort}}&amp;details=Pernikahan {{nameFemaleShort}} dan {{nameMaleShort}}&amp;location={{receptionLocation}}&amp;recur=RRULE:FREQ%3DWEEKLY;INTERVAL%3D3" target="_blank" class="animate_animated animate_fadeInUp animate_slower mt-8 rounded-full bg-colorMain py-2 px-4 text-colorBackground transition-shadow line-clamp-1 [animation-delay:calc(var(--animate-duration)*1)] hover:shadow-lg" rel="nofollow noopener noreferer">Tambahkan Pengingat di Kalender</a>
        </div>
    </div>

    <div class="hidden mt-5"></div>
    <div class="pointer-events-none absolute top-0 left-0 right-0 bottom-0 -z-10">
        <span class="animate_animated animate_fadeInTopLeft animate_slower absolute top-0 left-0 h-full w-1/2 bg-contain bg-left-top bg-no-repeat sm:w-[20%]" style='background-image:url("../assets/images/layouts/{{themes.style}}/imageOrnamentTop.png")'></span>
        <span class="animate_animated animate_fadeInBottomRight animate_slower absolute bottom-0 right-0 h-full w-1/2 bg-contain bg-right-bottom bg-no-repeat sm:w-[20%]" style='background-image:url("../assets/images/layouts/{{themes.style}}/imageOrnamentBottom.png")'></span>
    </div>
</div>