<div class="glide__slide love_story">
    <div class="no-scrollbar mx-auto h-full max-w-xl overflow-y-auto overflow-x-hidden">
        <div class="flex h-full w-full flex-col items-center justify-center p-5">
            <div class="flex h-full flex-col items-center justify-center">
                <div class="mb-7 flex flex-col items-center justify-center">
                    <div class="animate__animated animate__fadeInDown animate__slower mb-2">LOVE STORY TIMELINE</div>
                    <div class="animate__animated animate__fadeInDown animate__slower font-fontSecondary text-3xl text-colorMain">{{name.femaleInitial}} & {{name.maleInitial}}</div>
                </div>
                <div class="flex w-full flex-col items-start justify-center">
                    <div class="timeline animate__animated animate__fadeInUp animate__slow animate__delay-015s mb-3 flex w-full flex-col items-start justify-center last:mb-0">
                        <div class="relative mb-2 flex items-center justify-start pl-7 before:absolute before:left-0 before:h-3 before:w-3 before:rounded-full before:bg-colorMain before:content-['']"><strong>Pertama Kali Bertemu (2020)</strong></div>
                        <div class="flex items-center justify-start pl-7 text-sm before:absolute before:left-[5px] before:top-4 before:h-full before:w-[2px] before:bg-colorMain before:content-['']">Kami bertemu pertamakali pada XX XXXXX 20XX di suatu tempat yang sangat indah.</div>
                    </div>
                    <div class="timeline animate__animated animate__fadeInUp animate__slow animate__delay-010s mb-3 flex w-full flex-col items-start justify-center last:mb-0">
                        <div class="relative mb-2 flex items-center justify-start pl-7 before:absolute before:left-0 before:h-3 before:w-3 before:rounded-full before:bg-colorMain before:content-['']"><strong>Menjalin Hubungan (2021)</strong></div>
                        <div class="flex items-center justify-start pl-7 text-sm before:absolute before:left-[5px] before:top-4 before:h-full before:w-[2px] before:bg-colorMain before:content-['']">Kami mulai menjalin hubungan pada XX XXXXX 20XX.</div>
                    </div>
                    <div class="timeline animate__animated animate__fadeInUp animate__slow animate__delay-005s mb-3 flex w-full flex-col items-start justify-center last:mb-0">
                        <div class="relative mb-2 flex items-center justify-start pl-7 before:absolute before:left-0 before:h-3 before:w-3 before:rounded-full before:bg-colorMain before:content-['']"><strong>Menikah (2022)</strong></div>
                        <div class="flex items-center justify-start pl-7 text-sm before:absolute before:left-[5px] before:top-4 before:h-full before:w-[2px] before:bg-colorMain before:content-['']">Pada XX XXXXX 20XX, kami memutuskan untuk menikah.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pointer-events-none absolute top-0 left-0 right-0 bottom-0 -z-10">
        <span class="animate__animated animate__fadeInDown animate__slow absolute bottom-0 left-0 h-full w-full bg-imageOrnamentAltTop bg-contain bg-top bg-no-repeat sm:invisible"></span>
        <span class="animate__animated animate__fadeInUp animate__slow absolute bottom-0 left-0 h-full w-full bg-imageOrnamentAltBottom bg-contain bg-bottom bg-no-repeat sm:invisible"></span>
        <span class="animate__animated animate__fadeInTopLeft animate__slower absolute top-0 left-0 h-full w-1/2 bg-imageOrnamentTop bg-contain bg-left-top bg-no-repeat sm:w-[20%]"></span>
        <span class="animate__animated animate__fadeInBottomRight animate__slower absolute bottom-0 right-0 h-full w-1/2 bg-imageOrnamentBottom bg-contain bg-right-bottom bg-no-repeat sm:w-[20%]"></span>
    </div>
</div>
