<div class="glide__slide layout_cover">
    <div class="no-scrollbar mx-auto h-full max-w-xl overflow-y-auto overflow-x-hidden">
        <div class="flex h-full w-full flex-col items-center justify-center p-5">
            <div class="flex flex-col items-center justify-center">
                <div class="animate__animated animate__fadeInDown animate__slower mb-3">THE WEDDING OF</div>
                <div class="animate__animated animate__fadeInDown animate__slower font-fontSecondary text-5xl text-colorMain">{{name.femaleInitial}} & {{name.maleInitial}}</div>
            </div>
            <div class="animate__animated animate__fadeIn animate__slower my-4 h-[200px] w-[200px] flex-shrink-0 flex-grow-0 overflow-hidden rounded-full border-[4px] border-colorMain p-2 shadow-md">
                <img class="h-full w-full rounded-full bg-white object-cover" src="{{images.both}}" />
            </div>
            <div class="animate__animated animate__fadeInUp animate__slower item-center mb-4 flex flex-col items-center justify-center text-sm">
                <span>Kepada Yth,</span>
                <span>Bapak/Ibu/Saudara/Saudari</span>
            </div>
            <!-- Invitee -->
            <div id="text_kepada" class="animate__animated animate__fadeInUp animate__slower mb-4 text-lg font-bold text-colorMain">Tamu Undangan</div>
            <div class="animate__animated animate__fadeInUp animate__slower mb-6 text-sm">di Tempat</div>
            <button id="button_swipe" type="button" class="animate__animated animate__fadeInUp animate__slower rounded-full border-colorMain bg-colorMain py-2 px-4 text-white text-colorBackground shadow-sm transition-shadow hover:shadow-lg" aria-label="Buka Undangan">Buka Undangan</button>
        </div>
    </div>

    <div class="pointer-events-none absolute top-0 left-0 right-0 bottom-0 -z-10">
        
        
        <span class="animate__animated animate__fadeInTopLeft animate__slower absolute top-0 left-0 h-full w-1/2 bg-imageOrnamentTop bg-contain bg-left-top bg-no-repeat sm:w-[20%]"></span>
        <span class="animate__animated animate__fadeInBottomRight animate__slower absolute bottom-0 right-0 h-full w-1/2 bg-imageOrnamentBottom bg-contain bg-right-bottom bg-no-repeat sm:w-[20%]"></span>
    </div>
</div>
