<!-- Cover 3 -->
<div class="glide__slide layout_cover text-center">
    <div class="mx-auto h-full max-w-xl">
        <div class="no-scrollbar flex h-full w-full flex-col items-center overflow-y-auto overflow-x-hidden p-5 before:m-auto before:content-[''] after:m-auto after:content-['']">
            <div class="flex flex-col items-center justify-center text-center">
                <div class="animate_animated animate_fadeInDown animate_slower mb-3">UNDANGAN PERNIKAHAN</div>
                <div class="animate_animated animate_fadeInDown animate_slower font-fontSecondary text-5xl text-colorMain">{{nameFemaleShort}} & {{nameMaleShort}}</div>
            </div>
            <div class="animate_animated animate_fadeIn animate_slower my-4 h-[200px] w-[200px] flex-shrink-0 flex-grow-0 overflow-hidden rounded-full border-[4px] border-colorMain p-2 shadow-md">
                <img class="h-full w-full rounded-full bg-white object-cover" src="{{images.both}}" />
            </div>
            <div class="animate_animated animate_fadeInUp animate_slower item-center mb-4 flex flex-col items-center justify-center text-sm">
                <span>Kepada Yth,</span>
                <span>Bapak/Ibu/Saudara/Saudari</span>
            </div>
            <!-- Invitee -->
            <div id="text_kepada" class="animate_animated animate_fadeInUp animate_slower mb-4 text-lg font-bold text-colorMain">Tamu Undangan</div>
            <div class="animate_animated animate_fadeInUp animate_slower mb-6 text-sm">di Tempat</div>
            <button id="button_swipe" type="button" class="button_swipe animate_animated animate_fadeInUp animate_slower rounded-full border-colorMain bg-colorMain py-2 px-4 text-colorBackground shadow-sm transition-shadow line-clamp-1 hover:shadow-lg" aria-label="Buka Undangan">Buka Undangan</button>
        </div>
    </div>

    <div class="pointer-events-none absolute top-0 left-0 right-0 bottom-0 -z-10">
        <span class="animate_animated animate_fadeInTopLeft animate_slower absolute top-0 left-0 h-full w-1/2 bg-contain bg-left-top bg-no-repeat sm:w-[20%]" style='background-image:url("../assets/images/layouts/{{themes.style}}/imageOrnamentTop.png")'></span>
        <span class="animate_animated animate_fadeInBottomRight animate_slower absolute bottom-0 right-0 h-full w-1/2 bg-contain bg-right-bottom bg-no-repeat sm:w-[20%]" style='background-image:url("../assets/images/layouts/{{themes.style}}/imageOrnamentBottom.png")'></span>
    </div>
</div>
