@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    -webkit-tap-highlight-color: transparent;
}

:focus-visible {
    outline: 0;
}

.invitation__track,
.invitation__slide,
.invitation__list {
    height: 100% !important;
}
.invitation__slide.is-active {
    display: block;
}
.menu-item.is-active {
    border: none !important;
    color: var(--mainPrimary);
}
.lightbox-wrapper.show {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.801);
}

.lightbox-inner,
.lightbox-list {
    height: 100%;
    width: 100%;
}

.lightbox-inner img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.show .lightbox-navigation,
.show .btn-lightbox {
    display: inherit;
}
.no-menu .countdown {
    display: none;
}
.btn-countdown,
.btn-maps,
.btn-video {
    display: none;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

/* not supprt */
#notSupport {
    margin: auto;
    position: fixed;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}
