<div class="glide__slide layout_opening">
    <div class="no-scrollbar mx-auto h-full max-w-xl overflow-y-auto overflow-x-hidden">
        <div class="flex h-full w-full flex-col items-center justify-center p-5">
            <div class="animate__animated animate__fadeIn animate__slower mb-5 h-[230px] w-full flex-shrink-0 flex-grow-0 overflow-hidden rounded-xl border-[4px] border-colorMain p-2 shadow-md">
                <img class="h-full w-full rounded-xl object-cover" src="{{images.both}}" />
            </div>
            <div class="animate__animated animate__fadeInUp animate__slower text-center"><em>Bismillahirohmanirrohiim</em></div>
            <div class="animate__animated animate__fadeInUp animate__slower text-center mb-5"><em>Assalamu'alaikum Warahmatullahi Wabarokatuh</em></div>
            <div class="animate__animated animate__fadeInUp animate__slower text-center">Tanpa mengurangi rasa hormat, kami bermaksud mengundang Bapak/Ibu/Saudara/Saudari pada acara resepsi pernikahan kami.</div>
        </div>
    </div>

    <div class="pointer-events-none absolute top-0 left-0 right-0 bottom-0 -z-10">
        
        
        <span class="animate__animated animate__fadeInTopLeft animate__slower absolute top-0 left-0 h-full w-1/2 bg-contain bg-left-top bg-no-repeat sm:w-[20%]" style='background-image:url("../assets/images/layouts/{{theme.style}}/imageOrnamentTop.png")'></span>
        <span class="animate__animated animate__fadeInBottomRight animate__slower absolute bottom-0 right-0 h-full w-1/2 bg-contain bg-right-bottom bg-no-repeat sm:w-[20%]" style='background-image:url("../assets/images/layouts/{{theme.style}}/imageOrnamentBottom.png")'></span>
    </div>
</div>
