<div class="glide__slide layout_opening">
    <div class="mx-auto h-full max-w-xl">
        <div class="no-scrollbar flex h-full w-full flex-col items-center overflow-y-auto overflow-x-hidden p-5 before:m-auto before:content-[''] after:m-auto after:content-['']">
            <div class="animate_animated animate_fadeInDown animate_slower -mt-5 h-[70vh] w-10/12 overflow-hidden rounded-b-full border-x-[4px] border-b-[4px] border-colorMain px-2 pb-2 shadow-md">
                <img class="h-full w-full rounded-b-full object-cover object-bottom" src="{{images.both}}" />
            </div>

            <div class="my-auto text-center">
                <div class="animate_animated animate_fadeInUp animate_slower text-center"><em>Bismillahirohmanirrohiim</em></div>
                <div class="animate_animated animate_fadeInUp animate_slower mb-5 text-center"><em>Assalamu'alaikum Warahmatullahi Wabarokatuh</em></div>
                <div class="animate_animated animate_fadeInUp animate_slower text-center">Tanpa mengurangi rasa hormat, kami bermaksud mengundang Bapak/Ibu/Saudara/Saudari pada acara resepsi pernikahan kami.</div>
            </div>
        </div>
    </div>

    <div class="pointer-events-none absolute top-0 left-0 right-0 bottom-0 -z-10">
        <span class="animate_animated animate_fadeInTopLeft animate_slower absolute top-0 left-0 h-full w-1/2 bg-contain bg-left-top bg-no-repeat sm:w-[20%]" style='background-image:url("../assets/images/layouts/{{themes.style}}/imageOrnamentTop.png")'></span>
        <span class="animate_animated animate_fadeInBottomRight animate_slower absolute bottom-0 right-0 h-full w-1/2 bg-contain bg-right-bottom bg-no-repeat sm:w-[20%]" style='background-image:url("../assets/images/layouts/{{themes.style}}/imageOrnamentBottom.png")'></span>
    </div>
</div>
