<div class="glide__slide layout_gift">
    <div class="no-scrollbar mx-auto h-full max-w-xl overflow-y-auto overflow-x-hidden">
        <div class="flex h-full w-full flex-col items-center justify-center p-5">
            <div class="flex h-full flex-col items-center justify-center">
                <div class="animate__animated animate__fadeInDown animate__slower mb-4 font-fontSecondary text-3xl text-colorMain">Hadiah</div>
                <div class="animate__animated animate__fadeInDown animate__slow mb-6 text-center">Do'a Restu Anda merupakan karunia yang sangat berarti bagi kami. Namun jika Anda ingin memberi hadiah kami menyediakan fitur berikut:</div>
                <div class="flex flex-row items-center justify-between gap-2">
                    <button id="button_hadiah" type="button" class="animate__animated animate__fadeInLeft animate__slower mx-auto rounded-full bg-colorMain py-2 px-4 text-colorBackground transition-shadow hover:shadow-lg">Kirim Hadiah</button>
                    <button id="button_kado" type="button" class="animate__animated animate__fadeInRight animate__slower mx-auto rounded-full bg-colorMain py-2 px-4 text-colorBackground transition-shadow hover:shadow-lg">Kirim Kado</button>
                </div>
                <div class="container_hadiah animate__animated animate__fadeIn mt-6 hidden w-full rounded border border-colorMain p-4">
                    <div class="mb-2 text-center">
                        <div class="mb-4 font-fontSecondary text-2xl text-colorMain">Kirim Hadiah</div>
                        <div><em>Anda dapat mengirim hadiah ke:</em></div>
                        <div class="font-mono text-lg font-bold">{{gift.bankNumber}}</div>
                        <div>{{gift.bankAccount}}</div>
                    </div>
                </div>
                <div class="container_kado animate__animated animate__fadeIn animate__slow mt-6 hidden w-full rounded border border-colorMain p-4">
                    <div class="mb-2 text-center">
                        <div class="mb-4 font-fontSecondary text-2xl text-colorMain">Kirim Kado</div>
                        <div><em>Anda dapat mengirim kado ke:</em></div>
                        <div class="font-bold">{{location.reception}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pointer-events-none absolute top-0 left-0 right-0 bottom-0 -z-10">
        <span class="animate__animated animate__fadeInTopLeft animate__slower absolute top-0 left-0 h-full w-1/2 bg-contain bg-left-top bg-no-repeat sm:w-[20%]" style='background-image:url("../assets/images/layouts/{{theme.style}}/imageOrnamentTop.png")'></span>
        <span class="animate__animated animate__fadeInBottomRight animate__slower absolute bottom-0 right-0 h-full w-1/2 bg-contain bg-right-bottom bg-no-repeat sm:w-[20%]" style='background-image:url("../assets/images/layouts/{{theme.style}}/imageOrnamentBottom.png")'></span>
    </div>
</div>
