<b:section id="app" class="app invisible">
    <b:widget id="Blog1" locked="false" title="Blog Posts" type="Blog" version="2" visible="true">
        <b:includable id="main" var="this">
            <b:loop index="i" values="data:posts" var="post">
                <b:include data="post" name="postBody" />
            </b:loop>
        </b:includable>
        <b:includable id="postBody" var="post">
            <b:if cond="!data:view.isMultipleItems">
                <data:post.body />
            </b:if>
        </b:includable>
    </b:widget>
</b:section>
