<div class="glide__slide layout_bride text-center">
    <div class="mx-auto h-full max-w-xl">
        <div class="no-scrollbar flex h-full w-full flex-col items-center overflow-y-auto overflow-x-hidden p-5 before:m-auto before:content-[''] after:m-auto after:content-['']">
            <div class="animate_animated animate_fadeInDown animate_slow mb-2 font-fontSecondary text-3xl text-colorMain">{{nameFemale}}</div>
            <div class="animate_animated animate_fadeInLeft animate_slower flex flex-col items-center justify-center">
                <span>Putri dari:</span>
                <span>Bapak {{nameFemaleDad}} &amp; Ibu {{nameFemaleMom}}</span>
            </div>
            <div class="my-6 flex items-center justify-center">
                <div class="animate_animated animate_fadeInLeft animate_slower mr-2 h-[200px] w-[150px] flex-shrink-0 flex-grow-0 overflow-hidden rounded-lg border-[4px] border-colorMain p-2 shadow-md">
                    <img class="h-full w-full rounded-lg bg-white object-cover" src="{{images.female}}" />
                </div>
                <div class="animate_animated animate_fadeInRight animate_slower ml-2 h-[200px] w-[150px] flex-shrink-0 flex-grow-0 overflow-hidden rounded-lg border-[4px] border-colorMain p-2 shadow-md">
                    <img class="h-full w-full rounded-lg bg-white object-cover" src="{{images.male}}" />
                </div>
            </div>
            <div class="animate_animated animate_fadeInUp animate_slow mb-2 font-fontSecondary text-3xl text-colorMain">{{nameMale}}</div>
            <div class="animate_animated animate_fadeInRight animate_slower flex flex-col items-center justify-center">
                <span>Putra dari: </span>
                <span>Bapak {{nameMaleDad}} &amp; Ibu {{nameMaleMom}}</span>
            </div>
        </div>
    </div>

    <div class="pointer-events-none absolute top-0 left-0 right-0 bottom-0 -z-10">
        <span class="animate_animated animate_fadeInTopLeft animate_slower absolute top-0 left-0 h-full w-1/2 bg-contain bg-left-top bg-no-repeat sm:w-[20%]" style='background-image:url("../assets/images/layouts/{{themes.style}}/imageOrnamentTop.png")'></span>
        <span class="animate_animated animate_fadeInBottomRight animate_slower absolute bottom-0 right-0 h-full w-1/2 bg-contain bg-right-bottom bg-no-repeat sm:w-[20%]" style='background-image:url("../assets/images/layouts/{{themes.style}}/imageOrnamentBottom.png")'></span>
    </div>
</div>
