<div class="glide__slide layout_bride text-center">
    <div class="no-scrollbar mx-auto h-full max-w-xl overflow-y-auto overflow-x-hidden">
        <div class="flex h-full w-full flex-col items-center justify-center p-5">
            <div class="my-auto text-center">
                <div class="animate_animated animate_fadeInDown animate_slower mb-2 font-fontSecondary text-3xl text-colorMain">{{name.female}}</div>
                <div class="animate_animated animate_fadeInUp animate__slow flex flex-col items-center justify-center">
                    <span>Putri dari Bapak {{name.femaleDad}}</span>
                    <span>&amp;</span>
                    <span>Ibu {{name.femaleMom}}</span>
                </div>
            </div>
            <div class="animate_animated animate_fadeInUp animate_slower -mb-5 h-[70vh] w-10/12 overflow-hidden rounded-t-full border-x-[4px] border-t-[4px] border-colorMain px-2 pt-2 shadow-md">
                <img class="h-full w-full rounded-t-full bg-white object-cover object-top" src="{{images.female}}" />
            </div>
        </div>
    </div>

    <div class="pointer-events-none absolute top-0 left-0 right-0 bottom-0 -z-10">
        <span class="animate_animated animate_fadeInTopLeft animate_slower absolute top-0 left-0 h-full w-1/2 bg-contain bg-left-top bg-no-repeat sm:w-[20%]" style='background-image:url("../assets/images/layouts/{{theme.style}}/imageOrnamentTop.png")'></span>
        <span class="animate_animated animate_fadeInBottomRight animate_slower absolute bottom-0 right-0 h-full w-1/2 bg-contain bg-right-bottom bg-no-repeat sm:w-[20%]" style='background-image:url("../assets/images/layouts/{{theme.style}}/imageOrnamentBottom.png")'></span>
    </div>
</div>

<div class="glide__slide">
    <div class="no-scrollbar mx-auto h-full max-w-xl overflow-y-auto overflow-x-hidden">
        <div class="flex h-full w-full flex-col items-center justify-center p-5">
            <div class="my-auto text-center">
                <div class="animate_animated animate_fadeInDown animate_slower mb-2 font-fontSecondary text-3xl text-colorMain">{{name.male}}</div>
                <div class="animate_animated animate_fadeInUp animate__slow flex flex-col items-center justify-center">
                    <span>Putra dari Bapak {{name.maleDad}}</span>
                    <span>&amp;</span>
                    <span>Ibu {{name.maleMom}}</span>
                </div>
            </div>

            <div class="animate_animated animate_fadeInUp animate_slower -mb-5 h-[70vh] w-10/12 overflow-hidden rounded-t-full border-x-[4px] border-t-[4px] border-colorMain px-2 pt-2 shadow-md">
                <img class="h-full w-full rounded-t-full bg-white object-cover object-top" src="{{images.male}}" />
            </div>
        </div>
    </div>

    <div class="pointer-events-none absolute top-0 left-0 right-0 bottom-0 -z-10">
        <span class="animate_animated animate_fadeInTopLeft animate_slower absolute top-0 left-0 h-full w-1/2 bg-contain bg-left-top bg-no-repeat sm:w-[20%]" style='background-image:url("../assets/images/layouts/{{theme.style}}/imageOrnamentTop.png")'></span>
        <span class="animate_animated animate_fadeInBottomRight animate_slower absolute bottom-0 right-0 h-full w-1/2 bg-contain bg-right-bottom bg-no-repeat sm:w-[20%]" style='background-image:url("../assets/images/layouts/{{theme.style}}/imageOrnamentBottom.png")'></span>
    </div>
</div>
