<div class="glide__slide">
    <div class="no-scrollbar mx-auto h-full max-w-xl overflow-y-auto overflow-x-hidden">
        <div class="flex h-full w-full flex-col items-center justify-center p-5">
            <div class="flex h-full w-full flex-col items-center justify-center">
                <div class="animate__animated animate__fadeInDown animate__slower mb-6 text-center">
                    <div class="mb-2 font-fontSecondary text-3xl text-colorMain">Lokasi Resepsi</div>
                </div>
                <div class="animate__animated animate__fadeInDown animate__slow relative mb-6 w-full overflow-hidden rounded-xl pb-[50vh] shadow-lg">
                    <iframe width="100%" loading="lazy" height="100%" allowfullscreen="" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCoDckKi8TfOgUzbns6gt5alsAJ-5HfpuE&amp;zoom=17&amp;q={{location.maps}}" class="absolute"></iframe>
                </div>
                <div class="text-center">
                    <div class="animate__animated animate__fadeIn animate__slow mb-6">{{location.reception}}</div>
                    <a class="animate__animated animate__fadeInUp animate__slower rounded-full bg-colorMain py-2 px-4 text-white hover:shadow-lg" href="https://www.google.com/maps/place/?q={{location.maps}}" target="_blank" rel="nofollow noopener noreferer">Lihat Petunjuk Ke Lokasi</a>
                </div>
            </div>
        </div>
    </div>

    <div class="pointer-events-none absolute top-0 left-0 right-0 bottom-0 -z-10">
        <span class="animate__animated animate__fadeInDown animate__slow absolute bottom-0 left-0 h-full w-full bg-imageOrnamentAltTop bg-contain bg-top bg-no-repeat sm:invisible"></span>
        <span class="animate__animated animate__fadeInUp animate__slow absolute bottom-0 left-0 h-full w-full bg-imageOrnamentAltBottom bg-contain bg-bottom bg-no-repeat sm:invisible"></span>
        <span class="animate__animated animate__fadeInTopLeft animate__slower absolute top-0 left-0 h-full w-1/2 bg-imageOrnamentTop bg-contain bg-left-top bg-no-repeat sm:w-[20%]"></span>
        <span class="animate__animated animate__fadeInBottomRight animate__slower absolute bottom-0 right-0 h-full w-1/2 bg-imageOrnamentBottom bg-contain bg-right-bottom bg-no-repeat sm:w-[20%]"></span>
    </div>
</div>
