<div class="glide__slide">
    <div class="no-scrollbar mx-auto h-full max-w-xl overflow-y-auto overflow-x-hidden">
        <div class="flex h-full w-full flex-col items-center justify-center p-5">
            <div class="flex h-full flex-col items-center justify-center">
                <div class="animate__animated animate__fadeInDown animate__slower mb-4 font-fontSecondary text-3xl text-colorMain">Terimakasih</div>
                <div class="animate__animated animate__fadeInDown animate__slower mb-3 text-center">Merupakan suatu kebahagiaan dan kehormatan apabila Bapak/Ibu/Saudara/Saudari berkenan hadir dan memberikan do'a restu.</div>
                <div class="animate__animated animate__fadeInDown animate__slow"><em>Hormat Kami Yang Mengundang:</em></div>

                <div class="mt-3 flex flex-col items-center justify-center font-fontSecondary text-colorMain">
                    <span class="animate__animated animate__fadeInUp animate__slow text-3xl">{{name.female}}</span>
                    <span class="animate__animated animate__fadeIn animate__slower absolute">&amp;</span>
                    <span class="animate__animated animate__fadeInUp animate__slow text-3xl">{{name.male}}</span>
                </div>

                <div class="animate__animated animate__fadeInUp animate__slower mt-8 text-center"><em>Wassalamu'alaikum Warahmatullahi Wabarokatuh</em></div>
            </div>
        </div>
    </div>

    <div class="pointer-events-none absolute top-0 left-0 right-0 bottom-0 -z-10">
        <span class="animate__animated animate__fadeInTopLeft animate__slower absolute top-0 left-0 h-full w-1/2 bg-contain bg-left-top bg-no-repeat sm:w-[20%]" style='background-image:url("../../assets/images/layouts/{{theme.style}}/imageOrnamentTop.png")'></span>
        <span class="animate__animated animate__fadeInBottomRight animate__slower absolute bottom-0 right-0 h-full w-1/2 bg-contain bg-right-bottom bg-no-repeat sm:w-[20%]" style='background-image:url("../../assets/images/layouts/{{theme.style}}/imageOrnamentBottom.png")'></span>
    </div>
</div>
